#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.bg_gradient {

  
  /* ff 3.6+ */
  background:-moz-radial-gradient(ellipse at 50% 50%, rgba(11, 0, 137, 1) 0%, rgba(23, 12, 86, 1) 57%, rgba(43, 43, 43, 1) 100%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(ellipse at 50% 50%, rgba(11, 0, 137, 1) 0%, rgba(23, 12, 86, 1) 57%, rgba(43, 43, 43, 1) 100%);

  /* opera 11.10+ */
  background:-o-radial-gradient(ellipse at 50% 50%, rgba(11, 0, 137, 1) 0%, rgba(23, 12, 86, 1) 57%, rgba(43, 43, 43, 1) 100%);

  /* ie 10+ */
  background:-ms-radial-gradient(ellipse at 50% 50%, rgba(11, 0, 137, 1) 0%, rgba(23, 12, 86, 1) 57%, rgba(43, 43, 43, 1) 100%);

  /* global 92%+ browsers support */
  background:radial-gradient(ellipse at 50% 50%, rgba(11, 0, 137, 1) 0%, rgba(23, 12, 86, 1) 57%, rgba(43, 43, 43, 1) 100%);



}