@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700&display=swap');

:root{

  --font-family: 'Poppins', sans-serif;

  /* Add colors to the palette for styles */

  --button-color: linear-gradient(90deg, #AD00FF 11.94%, rgba(112, 0, 165, 0.75) 92.12%);
  --background-color : #000743;
  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
}

